In [9]:
!pip install jupyter

Requirement already satisfied: jupyter in c:\users\kenta_ichihara\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: notebook in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter) (5.4.0)
Requirement already satisfied: qtconsole in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter) (4.3.1)
Requirement already satisfied: jupyter-console in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter) (5.2.0)
Requirement already satisfied: nbconvert in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter) (5.3.1)
Collecting ipykernel (from jupyter)
  Downloading https://files.pythonhosted.org/packages/ab/3f/cd624c835aa3336a9110d0a99e15070f343b881b7d651ab1375ef226a3ac/ipykernel-4.8.2-py3-none-any.whl (108kB)
Requirement already satisfied: ipywidgets in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter) (7.1.1)
Requirement already satisfied: jinja2 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (2.10)
Requirement already satisfied: tornado>=4 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (4.5.3)
Requirement already satisfied: ipython_genutils in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (0.2.0)
Requirement already satisfied: traitlets>=4.2.1 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (4.3.2)
Requirement already satisfied: jupyter_core>=4.4.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (4.4.0)
Requirement already satisfied: jupyter_client>=5.2.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (5.2.2)
Requirement already satisfied: nbformat in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (4.4.0)
Requirement already satisfied: Send2Trash in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (1.4.2)
Requirement already satisfied: terminado>=0.8.1 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from notebook->jupyter) (0.8.1)
Requirement already satisfied: ipython in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter-console->jupyter) (6.2.1)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter-console->jupyter) (1.0.15)
Requirement already satisfied: pygments in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter-console->jupyter) (2.2.0)
Requirement already satisfied: mistune>=0.7.4 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.8.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.2.3)
Requirement already satisfied: bleach in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbconvert->jupyter) (2.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbconvert->jupyter) (1.4.2)
Requirement already satisfied: testpath in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.3.1)
Requirement already satisfied: widgetsnbextension~=3.1.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipywidgets->jupyter) (3.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jinja2->notebook->jupyter) (1.0)
Requirement already satisfied: six in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook->jupyter) (1.11.0)
Requirement already satisfied: decorator in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook->jupyter) (4.2.1)
Requirement already satisfied: pyzmq>=13 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter_client>=5.2.0->notebook->jupyter) (16.0.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jupyter_client>=5.2.0->notebook->jupyter) (2.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from nbformat->notebook->jupyter) (2.6.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython->jupyter-console->jupyter) (38.4.0)
Requirement already satisfied: jedi>=0.10 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython->jupyter-console->jupyter) (0.11.1)
Requirement already satisfied: pickleshare in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython->jupyter-console->jupyter) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython->jupyter-console->jupyter) (0.8.1)
Requirement already satisfied: colorama in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython->jupyter-console->jupyter) (0.3.9)
Requirement already satisfied: wcwidth in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from prompt_toolkit<2.0.0,>=1.0.0->jupyter-console->jupyter) (0.1.7)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from bleach->nbconvert->jupyter) (1.0.1)
Requirement already satisfied: parso==0.1.* in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jedi>=0.10->ipython->jupyter-console->jupyter) (0.1.1)
Requirement already satisfied: webencodings in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->jupyter) (0.5.1)
Installing collected packages: ipykernel
Successfully installed ipykernel-4.8.2

You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [10]:
!pip install psycopg2
!pip install ipython-sql

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/7c/8c/fa1ede14d6687c6dd042ce9193f7dea8d76500cbb959fd053f99bcf691de/psycopg2-2.7.5-cp36-cp36m-win_amd64.whl (994kB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.5

You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl
Requirement already satisfied: ipython>=1.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython-sql) (6.2.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython-sql) (1.2.1)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/65/85/20bdd72f4537cf2c4d5d005368d502b2f464ede22982e724a82c86268eda/sqlparse-0.2.4-py2.py3-none-any.whl
Collecting prettytable (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: six in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (38.4.0)
Requirement already satisfied: jedi>=0.10 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.11.1)
Requirement already satisfied: decorator in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.2.1)
Requirement already satisfied: pickleshare in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: pygments in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: colorama in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: parso==0.1.* in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.1.1)
Requirement already satisfied: wcwidth in c:\users\kenta_ichihara\anaconda3\lib\site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.1.7)
Building wheels for collected packages: prettytable
  Running setup.py bdist_wheel for prettytable: started
  Running setup.py bdist_wheel for prettytable: finished with status 'done'
  Stored in directory: C:\Users\kenta_ichihara\AppData\Local\pip\Cache\wheels\80\34\1c\3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.3.9 prettytable-0.7.2 sqlparse-0.2.4

You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [11]:
%load_ext sql
%sql postgresql://snaga@localhost/testdb

(psycopg2.OperationalError) fe_sendauth: no password supplied
 (Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [19]:
# 必要なライブラリを読み込む
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 必要な関数を読み込む
from sklearn.model_selection import train_test_split # 訓練データと検証データに分ける関数
from sklearn.metrics import confusion_matrix, accuracy_score # 混同行列, 予測正解率を求める関数

# Jupyter 上で図を表示するためのコマンド
%matplotlib inline

# seabornのデフォルトパラメータに設定するコマンド
sns.set()

import matplotlib as mpl
mpl.rcParams['font.family'] = 'IPAPGothic'
plt.rcParams['font.family']='HGMaruGothicMPRO'

In [20]:
import psycopg2

In [5]:
data = pd.read_csv('ro_data.csv')

In [6]:
data.dtypes

user_id          int64
order_date      object
order_amount     int64
dtype: object

In [21]:
data['order_date'] = pd.to_datetime(data['order_date'])

In [22]:
data['order_date'] = data['order_date'].dt.strftime('%Y-%m-%d')

In [23]:
data['order_date'].max(), data['order_date'].min()

('2017-11-20', '2016-07-09')

In [24]:
data['order_date'].describe()

count          10000
unique           500
top       2017-02-26
freq              37
Name: order_date, dtype: object

In [25]:
# SQLに接続
connection = psycopg2.connect("dbname=ojt_ro_data host=localhost user=postgres password=Password")
connection.get_backend_pid()

8360

In [26]:
cur = connection.cursor()
print(cur)

<cursor object at 0x0000022109B27828; closed: 0>

In [27]:
d = '2015-12-20'
d1 = "select * from rfmrank2('" + d +"');"
cur.execute(d1)
results = cur.fetchall()
test0 = pd.DataFrame(results)
test0

       0           1  2
0    181  2015-12-20  D
1    962  2015-12-20  D
2    488  2015-12-20  D
3    131  2015-12-20  D
4    858  2015-12-20  D
5    954  2015-12-20  D
6    756  2015-12-20  D
7    423  2015-12-20  D
8    243  2015-12-20  D
9    135  2015-12-20  D
10    94  2015-12-20  D
11   294  2015-12-20  D
12   952  2015-12-20  D
13    25  2015-12-20  D
14   728  2015-12-20  D
15   937  2015-12-20  D
16   362  2015-12-20  D
17   204  2015-12-20  D
18   837  2015-12-20  D
19   703  2015-12-20  D
20   368  2015-12-20  D
21    82  2015-12-20  D
22   499  2015-12-20  D
23    68  2015-12-20  D
24   439  2015-12-20  D
25   602  2015-12-20  D
26   157  2015-12-20  D
27   324  2015-12-20  D
28   683  2015-12-20  D
29    43  2015-12-20  D
..   ...         ... ..
969  739  2015-12-20  D
970  327  2015-12-20  D
971  451  2015-12-20  D
972  429  2015-12-20  D
973  875  2015-12-20  D
974   33  2015-12-20  D
975  718  2015-12-20  D
976  905  2015-12-20  D
977  902  2015-12-20  D
978  622  2015-12-20  D
979  158  2015-12-20  D
980  366  2015-12-20  D
981  458  2015-12-20  D
982  600  2015-12-20  D
983  321  2015-12-20  D
984   24  2015-12-20  D
985  292  2015-12-20  D
986  716  2015-12-20  D
987    0  2015-12-20  D
988  123  2015-12-20  D
989  701  2015-12-20  D
990  989  2015-12-20  D
991  400  2015-12-20  D
992   44  2015-12-20  D
993  859  2015-12-20  D
994  746  2015-12-20  D
995  870  2015-12-20  D
996  428  2015-12-20  D
997  831  2015-12-20  D
998  475  2015-12-20  D

[999 rows x 3 columns]

In [28]:
test0 = test0[test0[2]=='A']
test0

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [29]:
# 受領データの日付を取得
data = data.sort_values('order_date')
d2 = data['order_date'].unique()
#d2 = pd.DataFrame(d2)
d2

array(['2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24',
       '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
       '2016-07-29', '2016-07-30', '2016-07-31', '2016-08-01',
       '2016-08-02', '2016-08-03', '2016-08-04', '2016-08-05',
       '2016-08-06', '2016-08-07', '2016-08-08', '2016-08-09',
       '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-13',
       '2016-08-14', '2016-08-15', '2016-08-16', '2016-08-17',
       '2016-08-18', '2016-08-19', '2016-08-20', '2016-08-21',
       '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
       '2016-08-26', '2016-08-27', '2016-08-28', '2016-08-29',
       '2016-08-30', '2016-08-31', '2016-09-01', '2016-09-02',
       '2016-09-03', '2016-09-04', '2016-09-05', '2016-09-06',
       '2016-09-07', '2016-09-08', '2016-09-09', '2016-09-10',
       '2016-09-11', '2016-09-12', '2016-09-13', '2016-09-14',
       '2016-09-15', '2016-09-16', '2016-09-17', '2016-09-18',
       '2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22',
       '2016-09-23', '2016-09-24', '2016-09-25', '2016-09-26',
       '2016-09-27', '2016-09-28', '2016-09-29', '2016-09-30',
       '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
       '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
       '2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
       '2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
       '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
       '2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
       '2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
       '2016-10-29', '2016-10-30', '2016-10-31', '2016-11-01',
       '2016-11-02', '2016-11-03', '2016-11-04', '2016-11-05',
       '2016-11-06', '2016-11-07', '2016-11-08', '2016-11-09',
       '2016-11-10', '2016-11-11', '2016-11-12', '2016-11-13',
       '2016-11-14', '2016-11-15', '2016-11-16', '2016-11-17',
       '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21',
       '2016-11-22', '2016-11-23', '2016-11-24', '2016-11-25',
       '2016-11-26', '2016-11-27', '2016-11-28', '2016-11-29',
       '2016-11-30', '2016-12-01', '2016-12-02', '2016-12-03',
       '2016-12-04', '2016-12-05', '2016-12-06', '2016-12-07',
       '2016-12-08', '2016-12-09', '2016-12-10', '2016-12-11',
       '2016-12-12', '2016-12-13', '2016-12-14', '2016-12-15',
       '2016-12-16', '2016-12-17', '2016-12-18', '2016-12-19',
       '2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
       '2016-12-24', '2016-12-25', '2016-12-26', '2016-12-27',
       '2016-12-28', '2016-12-29', '2016-12-30', '2016-12-31',
       '2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
       '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
       '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
       '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16',
       '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20',
       '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
       '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
       '2017-01-29', '2017-01-30', '2017-01-31', '2017-02-01',
       '2017-02-02', '2017-02-03', '2017-02-04', '2017-02-05',
       '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09',
       '2017-02-10', '2017-02-11', '2017-02-12', '2017-02-13',
       '2017-02-14', '2017-02-15', '2017-02-16', '2017-02-17',
       '2017-02-18', '2017-02-19', '2017-02-20', '2017-02-21',
       '2017-02-22', '2017-02-23', '2017-02-24', '2017-02-25',
       '2017-02-26', '2017-02-27', '2017-02-28', '2017-03-01',
       '2017-03-02', '2017-03-03', '2017-03-04', '2017-03-05',
       '2017-03-06', '2017-03-07', '2017-03-08', '2017-03-09',
       '2017-03-10', '2017-03-11', '2017-03-12', '2017-03-13',
       '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-18', '2017-03-19', '2017-03-20', '2017-03-21',
       '2017-03-22', '2017-03-23', '2017-03-24', '2017-03-25',
       '2017-03-26', '2017-03-27', '2017-03-28', '2017-03-29',
       '2017-03-30', '2017-03-31', '2017-04-01', '2017-04-02',
       '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
       '2017-04-07', '2017-04-08', '2017-04-09', '2017-04-10',
       '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-14',
       '2017-04-15', '2017-04-16', '2017-04-17', '2017-04-18',
       '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-22',
       '2017-04-23', '2017-04-24', '2017-04-25', '2017-04-26',
       '2017-04-27', '2017-04-28', '2017-04-29', '2017-04-30',
       '2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
       '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08',
       '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12',
       '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
       '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20',
       '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24',
       '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28',
       '2017-05-29', '2017-05-30', '2017-05-31', '2017-06-01',
       '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05',
       '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09',
       '2017-06-10', '2017-06-11', '2017-06-12', '2017-06-13',
       '2017-06-14', '2017-06-15', '2017-06-16', '2017-06-17',
       '2017-06-18', '2017-06-19', '2017-06-20', '2017-06-21',
       '2017-06-22', '2017-06-23', '2017-06-24', '2017-06-25',
       '2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
       '2017-06-30', '2017-07-01', '2017-07-02', '2017-07-03',
       '2017-07-04', '2017-07-05', '2017-07-06', '2017-07-07',
       '2017-07-08', '2017-07-09', '2017-07-10', '2017-07-11',
       '2017-07-12', '2017-07-13', '2017-07-14', '2017-07-15',
       '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
       '2017-07-20', '2017-07-21', '2017-07-22', '2017-07-23',
       '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27',
       '2017-07-28', '2017-07-29', '2017-07-30', '2017-07-31',
       '2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
       '2017-08-05', '2017-08-06', '2017-08-07', '2017-08-08',
       '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-12',
       '2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16',
       '2017-08-17', '2017-08-18', '2017-08-19', '2017-08-20',
       '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
       '2017-08-25', '2017-08-26', '2017-08-27', '2017-08-28',
       '2017-08-29', '2017-08-30', '2017-08-31', '2017-09-01',
       '2017-09-02', '2017-09-03', '2017-09-04', '2017-09-05',
       '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-09',
       '2017-09-10', '2017-09-11', '2017-09-12', '2017-09-13',
       '2017-09-14', '2017-09-15', '2017-09-16', '2017-09-17',
       '2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21',
       '2017-09-22', '2017-09-23', '2017-09-24', '2017-09-25',
       '2017-09-26', '2017-09-27', '2017-09-28', '2017-09-29',
       '2017-09-30', '2017-10-01', '2017-10-02', '2017-10-03',
       '2017-10-04', '2017-10-05', '2017-10-06', '2017-10-07',
       '2017-10-08', '2017-10-09', '2017-10-10', '2017-10-11',
       '2017-10-12', '2017-10-13', '2017-10-14', '2017-10-15',
       '2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19',
       '2017-10-20', '2017-10-21', '2017-10-22', '2017-10-23',
       '2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27',
       '2017-10-28', '2017-10-29', '2017-10-30', '2017-10-31',
       '2017-11-01', '2017-11-02', '2017-11-03', '2017-11-04',
       '2017-11-05', '2017-11-06', '2017-11-07', '2017-11-08',
       '2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
       '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
       '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20'],
      dtype=object)

In [30]:
# 受領データの日付を検証1
for i in d2:
    d1 = "select * from rfmrank2('" + i +"');"
    cur.execute(d1)
    results = cur.fetchall()
    test1 = pd.DataFrame(results)
    test0 = pd.concat([test0, test1])

In [31]:
test0 = test0.rename(columns={0: 'user_id', 1: 'date', 2: 'RFM_Rank'})

In [32]:
test0

    user_id        date RFM_Rank
0       181  2016-07-09        D
1       962  2016-07-09        D
2       488  2016-07-09        D
3       131  2016-07-09        D
4       858  2016-07-09        D
5       954  2016-07-09        D
6       756  2016-07-09        D
7       423  2016-07-09        D
8       243  2016-07-09        D
9       135  2016-07-09        D
10       94  2016-07-09        D
11      294  2016-07-09        D
12      952  2016-07-09        D
13       25  2016-07-09        D
14      728  2016-07-09        D
15      937  2016-07-09        D
16      362  2016-07-09        D
17      204  2016-07-09        D
18      837  2016-07-09        D
19      703  2016-07-09        D
20      368  2016-07-09        D
21       82  2016-07-09        D
22      499  2016-07-09        D
23       68  2016-07-09        D
24      439  2016-07-09        D
25      602  2016-07-09        D
26      157  2016-07-09        D
27      324  2016-07-09        D
28      683  2016-07-09        D
29       43  2016-07-09        D
..      ...         ...      ...
969     660  2017-11-20        D
970     189  2017-11-20        D
971     960  2017-11-20        D
972     134  2017-11-20        D
973     979  2017-11-20        D
974     619  2017-11-20        D
975      91  2017-11-20        D
976     229  2017-11-20        D
977     323  2017-11-20        D
978     313  2017-11-20        D
979     741  2017-11-20        D
980     564  2017-11-20        D
981      70  2017-11-20        D
982     553  2017-11-20        D
983     731  2017-11-20        D
984     409  2017-11-20        D
985     435  2017-11-20        D
986     163  2017-11-20        D
987      90  2017-11-20        D
988     778  2017-11-20        D
989     603  2017-11-20        D
990     485  2017-11-20        D
991     651  2017-11-20        D
992     864  2017-11-20        D
993     232  2017-11-20        D
994     263  2017-11-20        D
995     136  2017-11-20        D
996     278  2017-11-20        D
997     994  2017-11-20        D
998     332  2017-11-20        D

[499500 rows x 3 columns]

In [13]:
d = '2015-12-20'
d3 = "select * from rfmrank_tran2('" + d + "','" + d +"');"
cur.execute(d3)
results = cur.fetchall()
test2 = pd.DataFrame(results)
test2

       0           1           2    3
0      0  2015-12-20  2015-12-20  D→D
1      1  2015-12-20  2015-12-20  D→D
2     10  2015-12-20  2015-12-20  D→D
3    100  2015-12-20  2015-12-20  D→D
4    101  2015-12-20  2015-12-20  D→D
5    102  2015-12-20  2015-12-20  D→D
6    103  2015-12-20  2015-12-20  D→D
7    104  2015-12-20  2015-12-20  D→D
8    105  2015-12-20  2015-12-20  D→D
9    106  2015-12-20  2015-12-20  D→D
10   107  2015-12-20  2015-12-20  D→D
11   108  2015-12-20  2015-12-20  D→D
12   109  2015-12-20  2015-12-20  D→D
13    11  2015-12-20  2015-12-20  D→D
14   110  2015-12-20  2015-12-20  D→D
15   111  2015-12-20  2015-12-20  D→D
16   112  2015-12-20  2015-12-20  D→D
17   113  2015-12-20  2015-12-20  D→D
18   114  2015-12-20  2015-12-20  D→D
19   115  2015-12-20  2015-12-20  D→D
20   116  2015-12-20  2015-12-20  D→D
21   117  2015-12-20  2015-12-20  D→D
22   118  2015-12-20  2015-12-20  D→D
23   119  2015-12-20  2015-12-20  D→D
24    12  2015-12-20  2015-12-20  D→D
25   120  2015-12-20  2015-12-20  D→D
26   121  2015-12-20  2015-12-20  D→D
27   122  2015-12-20  2015-12-20  D→D
28   123  2015-12-20  2015-12-20  D→D
29   124  2015-12-20  2015-12-20  D→D
..   ...         ...         ...  ...
969  972  2015-12-20  2015-12-20  D→D
970  973  2015-12-20  2015-12-20  D→D
971  974  2015-12-20  2015-12-20  D→D
972  975  2015-12-20  2015-12-20  D→D
973  976  2015-12-20  2015-12-20  D→D
974  977  2015-12-20  2015-12-20  D→D
975  978  2015-12-20  2015-12-20  D→D
976  979  2015-12-20  2015-12-20  D→D
977   98  2015-12-20  2015-12-20  D→D
978  980  2015-12-20  2015-12-20  D→D
979  981  2015-12-20  2015-12-20  D→D
980  982  2015-12-20  2015-12-20  D→D
981  983  2015-12-20  2015-12-20  D→D
982  984  2015-12-20  2015-12-20  D→D
983  985  2015-12-20  2015-12-20  D→D
984  986  2015-12-20  2015-12-20  D→D
985  987  2015-12-20  2015-12-20  D→D
986  988  2015-12-20  2015-12-20  D→D
987  989  2015-12-20  2015-12-20  D→D
988   99  2015-12-20  2015-12-20  D→D
989  990  2015-12-20  2015-12-20  D→D
990  991  2015-12-20  2015-12-20  D→D
991  992  2015-12-20  2015-12-20  D→D
992  993  2015-12-20  2015-12-20  D→D
993  994  2015-12-20  2015-12-20  D→D
994  995  2015-12-20  2015-12-20  D→D
995  996  2015-12-20  2015-12-20  D→D
996  997  2015-12-20  2015-12-20  D→D
997  998  2015-12-20  2015-12-20  D→D
998  999  2015-12-20  2015-12-20  D→D

[999 rows x 4 columns]

In [14]:
test2 = test2[test2[2]=='A']
test2

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [17]:
# 受領データの日付を検証2
for i1 in d2:
    for i2 in d2:
        d1 = "select * from rfmrank_tran2('" + i1 + "','" + i2 +"');"
        cur.execute(d1)
        results = cur.fetchall()
        test3 = pd.DataFrame(results)
        test2 = pd.concat([test2, test3])

KeyboardInterrupt: